
html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        
        background-color: lightgrey
      }
#map {

        height:250px;
        width:100%;
        color: white;
        margin-left: 0Px;
        padding: 0px;
        margin-right: auto;
        
      }
.container{
        min-height: 500px;
        background-color: #D0EAFF;
        /*background-image:url("../img/background.jpg");*/
        background-size :100%;

      }
#slider{
    margin-left: auto;
    margin-right: auto;
    width:50%;
    text-align: right;
}

.stations, .stations svg {
  position: absolute;
}

.stations svg {
  width: 500px;
  height: 500px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.stations circle {
  fill: dodgerblue;
  stroke: white;
  stroke-width: 1.5px;
  z-index: -1;
}
circle {
  fill: steelblue;
  fill-opacity: .6;
  stroke: #fff;
  z-index: -1;
}

.page-header{
  /*background-image: url("../img/water.png");*/
  background-position-y: 150px;
  background-size: 100%;
  margin-top: 0px;
  padding: 0px;
}
/*Panel tabs*/
.panel-tabs {
    position: relative;
    bottom: 30px;
    clear:both;
    border-bottom: 1px solid transparent;
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #ffffff;
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255,255,255, .23);
    border-bottom-color: transparent;
}
.panel{
  margin-left:0px;
  margin-right: 0px;
  margin:0px;
  
}
.panel-heading{
  height: 20px;padding:0;

}

.panel-body{
  background-color: #ECECEC;
}