
html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        
        background-color: lightgrey
      }
#map {

        height:200px;
        width:100%;
        color: white;
        margin-left: 0Px;
        padding: 0px;
        margin-right: auto;
      }
.container{
        min-height: 500px;
        background-color: lightblue;
        background-image:url("../img/background.jpg");
        background-size :100%;

      }
#slider{
    margin-left: auto;
    margin-right: auto;
    width:70%;
}

.stations, .stations svg {
  position: absolute;
}

.stations svg {
  width: 500px;
  height: 500px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.stations circle {
  fill: brown;
  stroke: brown;
  stroke-width: 1.5px;
}
circle {
  fill: steelblue;
  fill-opacity: .6;
  stroke: #fff;
}
#states path {
  fill: #ccc;
  stroke: #fff;
}
#grap{
    width:400px;
    height:auto;
}
.page-header{
  /*background-image: url("../img/water.png");*/
  background-position-y: 150px;
  background-size: 100%;
  margin-top: 0px;
  padding: 0px;
}